.quote {
    color: #ff00ff;
    word-wrap: break-word;
    width: 50%;
    font-size: 120%;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px
}

.jhp {
    padding-top: 5%
}